body{
    margin: 0px;
    padding: 0px;
}

*{
	margin:0;
	padding:0;
}

.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}
/*------------------------------------Navigation Bar---------------------------------------*/
header{
    display: inline-block;
    margin-bottom: 40%;
    width: 100%;
    box-shadow: 0px 0px 21px 8px black;
}
.navbar{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    position: relative;
    border-bottom: whitesmoke;
    background-image:linear-gradient(rgb(255 165 -206) ,rgb(217 219 261 / 2%) );
    padding-bottom: 5%;
    border-bottom-left-radius: 41%;
    border-bottom-right-radius: 41%;
}

.logo{
    position: relative;
    width: 18%;
    margin: 6px 81px;
    float: left;
}

.searchbox{
    position: absolute;
    display: block;
    top: 57px;
    left: 642px;
    margin: 0% auto;
    outline: 0px;
}
.searchbox input:focus-visible{
    outline: none;
}

.searchbox input{
    border:none;
    font: bold;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 35px;
    width: 264px;
    background-color: rgb(232 232 232);
    padding-left: 14px;
    opacity: 90%;
    height: 32px;
    padding-right: 41px;
}

.searchbox img{
    width: 31px;
    position: absolute;
    right: 5px;
    bottom: 0px;
    left: 278px;
    height: 31px;
    cursor: pointer;
}

.navicon{  
    position: absolute;
    display:inline-block;
    width: 46%;
    top: 125px;
    left: 450px;
}

.navicon ul{
    list-style: none;
}

.navicon ul li{
    display:inline-block;
    margin: 0px;
    font-size: 0vh;
}

.navicon ul li a{
    color:rgb(15, 20, 85);
    padding: 3px 20px;
    text-decoration-color: black;
    text-decoration: none;
    font: bolder;
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
}

.elements:hover{
    border-bottom: 3px solid rgb(18, 3, 87);
    color:rgb(255, 255, 255);    
    transition: 0.5s;
}

.navicon ul li a.Active{
    color: white;
    border-bottom: 3px solid rgb(18, 3, 87);
    transition: 0.2s;
}

/*----------------------------------Header Complete-------------------------------------*/
.outer{
   
    /* border: 2px solid rgb(0 128 0); */
    display: flex;
    flex-direction: column;
    width: auto;
    height: 40px;
    margin-top: 65px;
    /* margin-bottom: 80px; */
    padding: 21px 0px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: -0.5rem;
    position:static;
    padding-top: 24px;
    line-height: 45px;
    overflow: hidden;
    background-color: black;
}

.inner {
    position: absolute;
    border: 1px solid rgb(238 238 238);
    margin: -0.5rem;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
    height: 43px;
    line-height: 49px;
    font-size: 2.5rem;
    text-transform: uppercase;
    overflow: hidden;
    margin-left: -282px;
    margin-top: -23px;
    background-color: rgb(0 0 0);
    border: none;
}

.inner span{
    animation: animate 10s ease infinite;
    position: relative;
    color: #e58e26;
}
@keyframes animate{
    0%  {top:0 }
    20% {top:0 }
    25% {top: -50px}
    45% {top: -50px}
    50% {top: -100px}
    70% {top: -100px}
    75% {top: -150px}
    85% {top: -150px}
    95% {top: -198px}
    100%{top: 0px}
}

.img-slider{
    display: flex;
    position: relative;
    width: auto;
    height: 500px;
    overflow: hidden;
    align-items: center;
}
.img-slider::before{
    content: "";
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    background:url(/images/mitchell-kmetz-d7Qn3lHTn24-unsplash.jpg) no-repeat center center/cover;
    width:100%;
    height: 500px;
    opacity: 0.7;
}

.slide{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.slide img{
    display: flex;
    position: relative;
    height: 418px;
    width: auto;
    margin:35px;
    margin-left: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0px 0px 21px 8px black;
    border-radius: 8%;
}
.content h1{
    font-family: 'Play', sans-serif;
    color: rgb(255 255 255);
    font-size: 40px;
    font-weight: bolder;
    margin-top: 19px;
    letter-spacing: 3px;
    color:orange;
}
.content{
    width: 667px;
    height: 360px;
    margin-right: 28px;
    background-color: rgba(0,0,0, .3);
    border-radius: 18px;
    text-align: center;
}

.content_color{
    font-family: 'Raleway', sans-serif;
    color:white;
    padding: 14px 65px;
    letter-spacing: 2px;
}

.content_btn{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    width: 130px;
    height:40px;
    background-color: rgba(0,0,0, .3);
    border: 2px solid grey;
    border-radius: 8px;
    outline-style: none;
}

.content_btn:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}

.slide{
    animation: slider 30s ease infinite;
    position: relative;
}
@keyframes slider{
    0%  {left:0 }
    10% {left:0 }
    20% {left: -100%}
    25% {left: -100%}
    35% {left: -200%}
    40% {left: -200%}
    45% {left: -200%}
    50% {left: -295%}
    55% {left: -295%}
    60% {left: -295%}
    70% {left: -390%}
    75% {left: -390%}
    80% {left: -390%}
    85% {left: -390%}
    90% {left: -390%}
    100%{left:0%}
}

/*--------------Blog posts-------------*/

.blog_post{
    
    display: flex;
    position: relative;
    width: auto;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.blogs{
    border: 1px solid black;
    display: flex;
    position: relative;
    width: 300px;
    height: 436px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}

.blogs:hover{
    transform: scale(1.05);
    transition:all 0.3s;
    z-index: 5;
    position: relative;
    box-shadow: 0 25px 80px -7px rgb(0 0 0 / 25%);
}

.topic{
    position: relative;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
    margin-top: 56px;
    margin-bottom: 27px;
    font-size: 100px;
    text-align: center;
    width: auto;
    transform: translate3d(0px, 11px, 0px);
    text-shadow: 3px 4px 7px black;
}

.blog_image{
    display: flex;
    position: relative;
    justify-content: center;
    top:0px;
    width: 300px;
    height: 225px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.blog_content{
    display: flex;
    position: absolute;
    width: 301px;
    height: 227px;
    margin-top: 223px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.blog_span span{
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    width: 289px;
    margin: 10px 0px 0px 12px;
    height: 20px;
    color: rgb(255 165 0);
    font-size: 21px;
    text-transform: uppercase;
}

.blog_title{
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    height: 54px;
}

.blog_p{
    margin-left: 15px;
    font-size: 15px;
    opacity: 0.6;
    margin: 10px 14px 21px;
}

/*---------------Footer---------------*/

.container{
	max-width: 1170px;
	margin:auto;
    box-sizing: border-box;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
}
.footer-col{
   width: 23%;
   padding: 0 10px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/

@media(max-width: 767px){
  .footer-col
    {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
  .footer-col
  {
    width: 100%;
  }
}